/* Chat.css */
.chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .User, .Operator {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .User {
    align-self: flex-end;
    background-color: #4caf50;
    color: white;
  }
  
  .Operator {
    align-self: flex-start;
    background-color: #2196f3;
    color: white;
  }
  /* Обновленные стили в Chat.css */
.User, .Operator {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative; /* Добавлено для позиционирования .message-header */
  }
  
  .message-header {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  